/// BASE ///
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: 769px) {
    font-size: 50%;
  }
}

body {
  font-size: 26px;
  font-family: fraunces;
  max-width: 1280px;
}

/// COLORS ///
$color-dark-purple: #24053e;
$color-ghost-white: #fcf8ff;
$color-light-green: #44ffa1;
$color-grey: #584d62;

/// FONTS ///
@font-face {
  font-family: manrope;
  src: url(assets/fonts/manrope/Manrope-VariableFont_wght.ttf);
}

@font-face {
  font-family: fraunces;
  src: url(assets/fonts/fraunces/Fraunces-VariableFont_SOFT\WONK\opsz\wght.ttf);
}

/// MAIN ///
.section {
  padding: 0 12rem;

  @media only screen and (max-width: 769px) {
    padding: 0 5rem;
  }

  @media only screen and (max-width: 400px) {
    padding: 0 2.5rem;
  }
}

.section__hero {
  height: 65rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: $color-dark-purple;

  clip-path: polygon(
    50% 0%,
    100% 0,
    100% 43%,
    100% 95%,
    68% 100%,
    32% 100%,
    0 95%,
    0% 43%,
    0 0
  );

  position: relative;
  z-index: 100;
}

.header {
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;

  &__logo {
    width: 9.5rem;
    height: 2.4rem;
  }

  &__apply {
    color: #fff;
    font-family: manrope;
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 3px solid $color-light-green;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;

  h1 {
    width: 63.5rem;
    font-family: fraunces;
    font-size: 8rem;
    font-weight: 800;
    line-height: 8rem;
    text-align: center;
    color: #fff;

    @media only screen and (max-width: 400px) {
      width: 50rem;
      font-size: 6rem;
    }

    span {
      border-bottom: 5px solid $color-light-green;
    }
  }
}

.hero__img {
  width: 68rem;
  height: 38rem;

  position: absolute;
  bottom: -70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 150;

  @media only screen and (max-width: 769px) {
    width: 58rem;
    height: 32rem;

    bottom: -65%;
  }

  @media only screen and (max-width: 400px) {
    width: 40rem;
    height: 30rem;

    bottom: -180%;
  }
}

.btn {
  border: none;
  padding: 1.6rem 3.2rem;
  color: $color-dark-purple;
  font-family: manrope;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.18px;
  background-color: $color-light-green;
  cursor: pointer;
}

.oval1 {
  width: 27rem;
  height: 20rem;
  position: absolute;
  top: 20%;
  left: -9%;

  @media only screen and (max-width: 769px) {
    left: -20%;
  }

  @media only screen and (max-width: 400px) {
    display: none;
  }
}

.oval2 {
  width: 14rem;
  height: 11rem;
  position: absolute;
  bottom: 30%;
  right: -4%;

  @media only screen and (max-width: 769px) {
    right: -10%;
    width: 18rem;
    height: 14rem;
  }

  @media only screen and (max-width: 400px) {
    display: none;
  }
}

/// SECTION WHY ///
.section__why {
  padding-top: 25rem;
  padding-bottom: 10rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
  background-color: #fcf8ff;
  clip-path: polygon(
    50% 0%,
    100% 0,
    100% 43%,
    100% 95%,
    68% 100%,
    32% 100%,
    0 95%,
    0% 43%,
    0 0
  );
  margin-top: -5rem;

  @media only screen and (max-width: 769px) {
    flex-wrap: wrap;
    gap: 8rem;
    flex: 1 1 100%;
    padding: 20rem 8rem 10rem 8rem;
  }

  @media only screen and (max-width: 400px) {
    padding-top: 25rem;
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  @media only screen and (max-width: 769px) {
    flex-direction: row;
    gap: 4rem;
  }

  @media only screen and (max-width: 400px) {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  &__text-box {
    @media only screen and (max-width: 769px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;
    }

    @media only screen and (max-width: 400px) {
      align-items: center;
    }
  }

  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.6rem;
    height: 5.6rem;
    border: 1px solid $color-grey;
    border-radius: 10rem;
    font-family: fraunces;
    margin-bottom: 3rem;

    @media only screen and (max-width: 769px) {
      align-self: center;
      flex: 0 0 5.6rem;
      border-radius: 200rem;
    }

    h4 {
      font-size: 2.4rem;
      color: $color-dark-purple;
    }
  }

  &__header {
    font-family: fraunces;
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 4rem;
    color: $color-dark-purple;
    text-align: center;
  }

  &__text {
    font-family: manrope;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.2rem;
    color: $color-dark-purple;
    text-align: center;

    @media only screen and (max-width: 769px) {
      text-align: left;
    }

    @media only screen and (max-width: 400px) {
      text-align: center;
    }
  }
}

/// SECTION FOUNDER ///
.section__founder {
  display: flex;
  align-items: center;
  height: 70rem;
  //padding-top: 10rem;
  //padding-bottom: 10rem;

  @media only screen and (max-width: 769px) {
    height: 65rem;
  }

  @media only screen and (max-width: 400px) {
    flex-direction: column;
    align-items: center;
    padding-top: 25rem;
    height: 80rem;
  }
}

.founder__img {
  width: 43rem;
  height: 43rem;

  @media only screen and (max-width: 769px) {
    width: 28rem;
    height: 28rem;
    margin-top: -55%;
  }

  @media only screen and (max-width: 400px) {
    width: 35rem;
    height: 35rem;
  }
}

.founder__about {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding: 5rem 5rem 6rem 5rem;
  background-color: $color-dark-purple;
  align-self: flex-end;
  margin-left: -10%;

  position: relative;

  @media only screen and (max-width: 400px) {
    margin-left: 0;
    margin-top: -20%;
  }

  h2 {
    font-family: fraunces;
    font-size: 5.6rem;
    font-weight: 600;
    line-height: 6.4rem;
    color: #fff;

    @media only screen and (max-width: 400px) {
      text-align: center;
      font-size: 4.2rem;
    }
  }

  p {
    font-family: manrope;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.2rem;
    color: #fff;

    @media only screen and (max-width: 400px) {
      text-align: center;
    }
  }
}

.btn__apply {
  align-self: flex-start;

  @media only screen and (max-width: 400px) {
    align-self: center;
  }
}

.oval3 {
  width: 17rem;
  height: 13rem;
  position: absolute;
  bottom: -10%;
  right: 10%;
  z-index: 100;

  @media only screen and (max-width: 400px) {
    display: none;
  }
}

/// FOOTER ///
.footer {
  padding: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;

  &__socials {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
}

.test {
  height: 95vh;
}
